.EditModalBtns {
    padding: 7px 20px;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    margin-left: 10px;
    background: var(--white-50);
    color: black;
    cursor: pointer;
}
.EditModalBtns:nth-of-type(1) {

    background: var(--blue);
    color: white;
}
