.ProductsTable{
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 50px;
}
.ProductsTable>div{
    display: flex;
}

.ProductsTableHead>span{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ProductsTableHead>span:nth-of-type(1){
    width: 20%;
}

.ProductsTableItem{
    margin-top: 10px;
}
.ProductsTableItem>div{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
}
.ProductsTableItem>div:nth-of-type(1){
    width: 20%;
}
.ProductsTableItem>div:nth-of-type(1)>img{
    width: 80%;
    height: auto;
}


.ProductsTableItem>div:nth-of-type(5){
    width: 35%;

}
.ProductsTableItemAction>button{
    padding: 10px;
    color: white;
    background-color: var(--blue);
    border: 0;
    border-radius: 7px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}
/* _____________________________ */

.EditModalInputs{
    width: 100%;
    margin: 20px 0;
}


.Products h1 {
    font-size: 32px;
    margin-bottom: 30px;
}

.EditModalformInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EditModalformInput {
    width: 90%;
    padding: 7px;
    background-color: var(--white-50);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
}

.EditModalformInput>input {
    margin-right: 5px;
    border: 0;
    background-color: rgba(51, 53, 55, 0);
    padding: 5px;
    font-size: 17px;
    width: 80%;
}

.EditModalformInput>input:focus {
    outline: 0;
}
.formBox>button{
    padding: 10px;
    background-color: var(--blue);
    color: white;
    border: 0;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-end;
}