.commentsContainer{
    background-color: white;
    border-radius: 15px;
}
.commentsContainerHead{
    display: flex;
    font-size: 20px;
    padding: 23px 0;
}
.commentsContainerHead>span{
    padding: 12px 0;
    width: 14%;
    text-align: center;
}
.commentsContainerHead>span:last-child{
    width: 30%;
}
.commentsContainerItem{
    display: flex;
    align-items: center;
}
.commentsContainerItem>span{
    padding: 15px 0;
    width: 14%;
    text-align: center;
}
.commentsContainerItem>span>button{
    border: 0;
    padding: 8px 18px;
    font-size: 16px;
    background-color: var(--blue);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.commentsContainerItem>span>button.accepted{
    background-color: var(--white-50);
    color: gray;
}



.commentsContainerItem>span:last-child{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}