.usersContainer{
    border-radius: 15px;
    background-color: white;
}
.usersHeader{
    padding: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.usersHeader>span{
    width: 15%;
    text-align: center;
}
.userItem{
    display: flex;
    padding: 10px;
    font-size: 17px;
    align-items: center;
}
.userItem>span{
    text-align: center;
    width: 15%;
}
.userItem>span:last-child{
    width: 40%;
    display: flex;
    justify-content: center;
}

.userItem>span:last-child>button{
    padding: 8px 10px;
    background-color: var(--blue);
    color: white;
    border-radius: 10px;
    border: 0;
    font-size: 18px;
    margin: 0 10px;
}