.formBox {
    /* width: 100%;  */
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.Products h1 {
    font-size: 32px;
    margin-bottom: 30px;
}

.formInputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.formInput {
    width: 48%;
    padding: 7px;
    background-color: var(--white-50);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
}

.formInput>input {
    margin-right: 5px;
    border: 0;
    background-color: rgba(51, 53, 55, 0);
    padding: 5px;
    font-size: 17px;
    width: 80%;
}

.formInput>input:focus {
    outline: 0;
}
.formBox>button{
    padding: 10px;
    background-color: var(--blue);
    color: white;
    border: 0;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-end;
}